[credential "helperselector"]
	selected = cache

[credential]
	helper = cache --timeout=72000

[user]
	email = chaiyo@protonmail.com
	name = Pleum Tammarut

[core]
	excludesfile = ~/.gitignore_global
	editor = lvim

[alias]
    st = status
    logla = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
    logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

[init]
	defaultBranch = main

[push]
	default = current

[fetch]
	prune = true

[help]
	autocorrect = 10

[url "ssh://git@bitbucket.org/ascendcorp/"]
	insteadOf = https://bitbucket.org/ascendcorp/
